<div class="py-4" *ngIf="planeta">
  <div class="card">
    <h5 class="card-header">Detalles del planeta</h5>
    <div class="card-body">
      <form action="">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Visitado</th>
              <th>Rotacion</th>
              <th>Diametro</th>
              <th>Clima</th>
              <th>Terreno</th>
              <th>Personas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{planeta.id}}</td>
              <td>{{planeta.name}}</td>
              <td>{{planeta.contador}}</td>
              <td>{{planeta.rotation}} º</td>
              <td>{{planeta.diametro}} KM</td>
              <td>{{planeta.clima}}</td>
              <td>{{planeta.terreno}}</td>
              <td ><label *ngFor="let persona of planeta.personas"> {{persona.name}} - </label></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" type="submit" (click)="onRegresar()" >Regresar</button>
      </form>
      
    </div>
  </div>
</div>